.contFormPrenotazione{
    background-color: #122029;
}

.indirizzoContatti{
    color: aliceblue;
}

.emailTelContatti{
    color: aliceblue;
}

.orariContatti{
    color: aliceblue;
}

.contContactContatti{
    margin-top: 8vh;
    height: 70vh;
    width: 190vh;
    display: flex;
    justify-content: space-around;
}
.contFormContatti{
    width: 50vh;
    justify-content: center;
}

.cardContattiForm{
    height: 100%;
    background-color: #122029;
    color: aliceblue;

}

.cardTitle{
    font-family: sans-serif;
    font-size: 3vh;
    color: #ffc999;
}
.labelContatti{
    background-color: #122029;
    border: none;
    color: white;
}

.NomeContatti{
    /* border: 2px solid red; */
    color: aliceblue;
}
.labelForm{
    color: #ffc999;
}

.CognomeContatti{
    /* border: 2px solid red; */
    color: aliceblue;
}

.FormNomeCognome{
    border-radius: 10px;
}


.textContattDx{
    width: 80%;
    margin: 1%;
}

.cardCont{
display: flex;
justify-content: space-around;
background-color: #122029;
color: aliceblue;
border: none;
}

.titoloColoreContatti{
    color: #ffc999 ;
    cursor: pointer;
}

.hrefContatti{
    color:#ffc999 ;
    text-decoration: none;
}

.emailForm{
    color: aliceblue;
}

.emailFormArea{
    border: none;
    border-bottom: 1px solid;
    color: aliceblue;
    border-radius: 0%;
    background-color: #1b2c3f;
}

.textFormTitle{
    background-color: #122029;
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid;
    color: aliceblue;
}

.cont1FormContatti{
    display: flex;
    justify-content: space-around;
    width: 202.5vh;
}

.mapsContatti{
    width: 202.8vh;
}

.cont1FormContatti{
    height: 80vh;
    align-items: center;
}

.contImgContatti{
    width: 100%;
}

.cont1FormContatti {
    
}

.imgContatti{
    width: 202.8vh;
    height: 80vh;
    object-fit: cover;
}

.contenitoreSxContatti{
    
    height: 70vh;
    width: 70vh;
}


/*!!!!!!!!!!!!!! MOBILE !!!!!!!!!!!!!!*/

@media screen and (max-width:760px){

    .contContactContatti{
        display: block;
    }

    .contenitoreSxContatti{
        width: 70vh;
        height: 70vh;
        
    }

    .contMobile{
        display: flex;
        justify-content: center;
        
        width: 202vh;
        
    }
    .contMobile2{
        display: flex;
        justify-content: center;
        ;
        width: 202vh;
        padding-right: 20vh;
        
    }

    .contContactContatti{
        height: 150vh;
        margin-top: 80vh;
    }

    .contFormContattiTot{
        
        height: 250vh;
        width: 197vh;
    }
    .cardContatti{
        width: 70vh;
        padding-right: 5vh;
    }

    .contContactContatti{
        width:70vh ;
        margin-bottom: 10vh;
    }
    .contMobile2{
        margin-top: 8vh;
        padding-right: 0vh;
        width: 50vh;
    }
    .contMobile{
        width: 70vh;
        margin-top: 15vh;
    }
    
    .contFormContattiTot{
        height: 270vh;
    }
    
    .contCard{
        width: 70vh;
    }
}

@media screen and (max-width:760px){
}