body{
    background-color: #1b2c3f;
}
.formDash{
    width: 25%;
}

.h1Dash{
    font-size: 8vh;
    color: #ffc999;
}

.searchDash{
    width: 25vh;
    margin-left: 8vh;
}

.dataDash{
    width: 25vh;
    margin-right: 8vh;
}

.formDataDash{
    display: flex !important;
    justify-content: center;
}

.intDash{
    font-weight: bolder;
}




@media(max-width:1137px){

    .searchDash{
        width: 25vh;
        margin-left: 2vh;
        margin-right: 3vh;
    }

    .dataDash{
        width: 25vh;
        margin-right: 2vh;
        margin-left: 1.5vh;
    }
   
}
@media(max-width:507px){
    .formDataDash{
        margin-left: 5vh;
        margin-right: vh;
        width: 50vh ;
    }

    .h1Dash{
        font-size: 6vh;
    }

    .contDash{
        margin-top: 10vh;
        width: 102vh;
    }
.formDataDash{
    width: 100vh;
}
.tableVertical{
    width: 102vh;
}

@media(max-width:652px){
    .h1Dash{
        font-size: 6vh;
    }

    .tableOrrizonta{
        display: none;
    }

}

@media(min-width:653px){

    .tableVertical{
        display: none !important;
    }
}

.tableVertical{
    width: 102vh;
    display: flex;
    justify-content: center;
}

.contDash {
    width: 102vh;
}