.contHomePage{
    align-items: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-image: url('../../Images/Locale/salarest.avif');
    background-size: cover;
}

.imgCarosello{
height: 75%;
}

.contTotHome{
    background-color: #122029;
}

.imgStaff{
height: 50vh;
}

.titleStaff{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1Staff{
    font-size: 8vh;
    font-family: sans-serif;
    color: #ffc999;
}

.h2Staff{
    color: #ffc999;
    font-size: 3vh;
    font-family: sans-serif;
}
.pTextstaff{
    width: 50vh;
    font-size: 2vh;
    font-family: sans-serif;
}

.imgHome{
    color: #ffc999;
    margin-top: 10vh;
}

.h1HomePage{
    font-size: 8vh;
    color: antiquewhite;
    font-family:cursive ;
}


.imgStaffCucina{
width: 50vh;
}

.bodyCardHome{
    background-color: #122029;
    width: 53vh;
    border: none;
}

.contCardHomePage{
margin-top: 8vh;
}

.imgHomePage{
    width: 45vh;
    height: 35vh;
    object-fit: cover;
    justify-content: e;
}


@media(max-width:927px){
    .contHomePage{
        width: 102.5vh;
    }
    .imgHome{
        width:40vh;
    }    
    .contCardHomePage{
        margin-left: 2vh;
        margin-right: 2vh;

    }
}

@media(max-width:855px){
    .titleStaff{
        text-align: center;
        width: 102vh;
    }
}

@media(max-width:505px){

    .contCardHomePage{
    text-align: center;
    justify-content: center;
    display: block !important;
    width: 100vh;
    }
    .imgStaffCucina{
        text-align: center;
        width: 100vh;
    }
    .cardTextHomePage{
        display: flex;
        justify-content: center;
        width: 100vh;
    }
    .bodyCardHome{
        width: 100vh;
        text-align: center;
        justify-content: center;
    }
    .pTextstaff{
        width: 90vh;
        text-align: center;
    }
}