.contHomePage{
    align-items: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-image: url('../../Images/Locale/salarest.avif');
    background-size: cover;
}

.imgCarosello{
height: 75%;
}

.contTotHome{
    background-color: #1b2c3f;
}

.imgStaff{
height: 50vh;
}

.titleStaff{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1Staff{
    font-size: 8vh;
    font-family: sans-serif;
    color: #ffc999;
}

.h2Staff{
    color: #ffc999;
    font-size: 3vh;
    font-family: sans-serif;
}
.pTextstaff{
    width: 50vh;
    font-size: 2vh;
    font-family: sans-serif;
}

.imgHome{
    color: #ffc999;
}

.h1HomePage{
    font-size: 8vh;
    color: antiquewhite;
    font-family:cursive ;
}


.imgStaffCucina{
width: 50vh;
}

.bodyCardHome{
    background-color: #1b2c3f;
    width: 53vh;
    border: none;
}

.contCardHomePage{
margin-top: 8vh;
}

.imgHomePage{
    width: 45vh;
    height: 35vh;
    object-fit: cover;
    justify-content: e;
}

