.bodylogin{
    height: 100vh;
    background-color: #1b2c3f;
    
}

.textLogin{
    color: #ffc999;
}

.contTotTopBar {
  display: none;
}

.svgLogin{
  color: solid white;
}

.backgroundAdmin{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
}
