.contMenuAdmin {
  height: 100vh;
  background-color: #1b2c3f;
}

.btnExit {
  color: #ff0000;
  font-size: 20px;
  padding: 15px 30px;
  border: 0.1px solid;
  border-color: #ff0000;
  text-decoration: none;
  background-color: transparent;
  width: 35vh;
}

.btnExit:hover {
  background-image: linear-gradient(to bottom, #d13131, #d14949);
  color: #ff0000;
}

.contRiga1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

.h1MenuAdmin {
  color: #ffc999;
  font-size: 10vh;
  margin-top: 15vh;
  font-family: cursive;
}


.btnFormMenuAdmin{
    color:  #ffc999;
      font-size: 20px;
      padding: 15px 30px;
      border: 0.1px solid;
      border-color: #ffc999;
      text-decoration: none;
      background-color: transparent;
      width: 35vh;
}

.btnFormMenuAdmin:hover{
    background-image: linear-gradient(to bottom, #ffc999, #ffebdb);
      color: #f58625;
}

@media (max-width: 933px) {
  .h1MenuAdmin {
    font-size: 8vh;
    text-align: center;
  }
  
}

@media (max-width: 933px) {
    .h1MenuAdmin {
      font-size: 8vh;
      text-align: center;
    }
  
    .contRiga1{
        margin-top: 10vh;
        display: block;
        text-align: center;
        height: 24vh;
    }
  }

  @media (max-width: 1378px) {
    .btnAdmin{
      width: 25vh;
    }
  }

  @media (max-width: 1021px) {
    .btnAdmin{
      width: 24vh;
    }
  }

  @media(max-width:983px){
    .contRiga1{
      display: block;
      text-align: center;
    }

    .btnExit{
      margin-right:5.5vh;
    }

    .btnAdmin{
      margin-top: 3vh;
    }
  }

  @media(max-width:461px){

    .h1MenuAdmin{
      font-size: 6vh;
    }

    .btnAdmin{
      width: 30vh;
      margin-left: 8vh;
    }

    .btnExit{
      margin-right: 7vh;
    }
  }

  @media(max-width:385px){
    .contH1Admin{
      text-align: center;
      margin-left: 3vh;
    }
  }
