
.h1MenuSett{
font-size: 8vh;
}



.modalPosition{
   margin-top: 20vh;
}

.selectBg{
   background-color: #1b2c3f;
   color: aliceblue;
}

.textColor{
   color: #ffc999;
}

.DeleteBtn{
cursor: pointer;
}

#selectFormGestione{
   width: 20vh;
}