.imgPrenotazione {
  width: 202.8vh;
  height: 900px;
  background-size: cover;
  object-fit: cover;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  border: none;
  border-bottom: transparent;
  border-radius: 0;
  background-color: transparent;

  text-align: left;
}

.contFormPrenotazione {
  align-items: center;
  justify-content: center;
}
.formPrenotazione {
  background-color: #122029;
  color: aliceblue;
}
.formPrenotazione {
  align-items: center;
}

.contCardPrenotazioni {
  width: 201vh;
}

.contTitoloPrenotazioni {
  width: 201vh;
}

.mapsCOnt {
  width: 202vh;
}

.contTotPrenotazioni {
  background-color: #122029;
}

.btnFormPrenotazione {
  color: #ffc999;
  font-size: 20px;
  padding: 15px 30px;
  border: 0.1px solid;
  border-color: #ffc999;
  text-decoration: none;
  background-color: transparent;
}

.btnFormPrenotazione:hover {
  background-image: linear-gradient(to bottom, #ffc999, #ffebdb);
  color: #f58625;
}

.labelForm {
  width: 30vh;
  color: white;
}

#datelabel {
  width: 30vh;
  color: aliceblue;
}

.h1TitoloPrenotazione {
  font-size: 5vh;
  color: #ffc999;
  font-weight: bold;
}

.pTitoloPrenotazione {
  font-size: 2vh;
  color: #ffc999;
}

.react-datepicker-wrapper {
  .react-datepicker__input-container {
    input {
      background: transparent;
    }
  }
}

.border12 {
  display: grid;
}

/* IMG E MAPS */

@media screen and (min-width: 1743px) {

  .divImg .maps {
    border: 2px solid red;
    width: 117.5rem;
  }

  .imgPrenotazione .maps {
    width: 117.5rem;
  }
}

@media screen and (max-width: 1740px) {
  .maps {
    width: 202.9vh;
  }
}

/* @media screen and (min-width: 1740px){
  .maps {
    width: 219vh;
  }
  .imgPrenotazione{
    width: 219vh;
  }
} */

@media screen and(min-width:960px) {

  .contCardPrenotazioni{
    border: 2px solid red;
  }
  
}

