.imgPrenotazione{
    width: 100%;
    height: 900px;
    background-size: auto ;
    object-fit:cover;
    }
    
    .dropdown-toggle::after {
      display: none;
    }
    
    .dropdown-toggle {
      border: none;
      border-bottom: transparent; 
      border-radius: 0;
      background-color: transparent;
      width: 100%; 
      text-align: left; 
    }
    
    .dropdown-menu {
      width: 100%; 
    }
    .contFormPrenotazione{
      align-items: center;
      justify-content: center;
    }
    .formPrenotazione{
      background-color: #1b2c3f;
      color: aliceblue;
    }
    .formPrenotazione{
      align-items: center;
    }
    
    /*!!!!!!!!!!!!!! SISTEMAZIONE BLOCCHI FORM!!!!!!!!!!!!!!!!!!!!!*/
    .contTotPrenotazioni{
      background-color: #1b2c3f;
    }

    .form1Riga{
      width:200vh ;
      /* border: 2px solid red; */
    
      background-color: #1b2c3f;
    }

    .btnFormPrenotazione{
      color:  #ffc999;
      font-size: 20px;
      padding: 15px 30px;
      border: 0.1px solid;
      border-color: #ffc999;
      text-decoration: none;
      background-color: transparent;
    }
    
    .btnFormPrenotazione:hover{
      background-image: linear-gradient(to bottom, #ffc999, #ffebdb);
      color: #f58625;
    }

    .labelForm{
      width: 30vh;
      color: white;
    }

    #datelabel{
      width: 30vh;
    }

    .h1TitoloPrenotazione{
      font-size: 5vh;
      color: #ffc999;
      font-weight: bold;
    }

    .pTitoloPrenotazione{
      font-size: 2vh;
      color: #ffc999;
    }

    #btnprenotazione{
      width: 202vh;
    }